.box {
  background-color: blue;
  width: 100px;
}

.footer {
  border-top: 1px solid blue;
  width: 200px;
}

.tabbar {
  position: fixed;
  left: 0;
  top: 0;
}

li:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 0px;
}

li:nth-child(2) {
  position: absolute;
  left: 100px;
  top: 100px;
}

li:nth-child(3) {
  position: absolute;
  left: 200px;
  top: 200px;
}

li:nth-child(4) {
  position: absolute;
  left: 300px;
  top: 300px;
}

li:nth-child(5) {
  position: absolute;
  left: 400px;
  top: 400px;
}

li:nth-child(1) {
  background-color: red;
}

li:nth-child(2) {
  background-color: green;
}

li:nth-child(3) {
  background-color: yellow;
}

.box1 {
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
}

div {
  width: 100px;
  height: 100px;
}

div > p {
  font-size: large;
}

div > p span {
  color: blue;
}

div > p span :hover {
  background-color: yellow;
}

div > p span.active {
  background-color: red;
}

.base, .btn_1 {
  width: 100px;
  height: 50px;
  outline: none;
  color: white;
  font-size: large;
}

.btn_1 {
  background-color: red;
}
